.main-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main-container .main-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 30px;
}
.main-container .main-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.main-menu .menuDefault {
  color: #888;
}
.main-container .main-menu .active {
  color: lightseagreen;
}
